# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
.venv/

# Flask instance folder (runtime data)
instance/
*.db
*.sqlite3

# Logs
*.log

# IDE / Editor settings
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# Migrations (əgər hər dəfə avtomatik yaradırsansa, ignore edə bilərsən)
migrations/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Flask specific
*.egg-info/
