{% extends "base.html" %}

{% block title %}{{ plant.name }}{% endblock %}

{% block content %}
<div class="detail-card">
  <img src="{{ plant.main_image.image_url if plant.main_image else url_for('static', filename='default_plant.jpg') }}" alt="{{ plant.name }}">
  <div class="detail-info">
    <h2>{{ plant.name }}</h2>
    <p><strong>Elmi adı:</strong> {{ plant.scientific_name }}</p>
    <p><strong>Ailə:</strong> {{ plant.family }}</p>
    <p><strong>Təsviri:</strong> {{ plant.description }}</p>
    <p><strong>Zərərvericilər:</strong> {{ plant.pests }}</p>

    <a href="{{ url_for('edit_plant_base', plant_id=plant.id) }}" class="btn">Redaktə et</a>
    <a href="{{ url_for('delete_plant_base', plant_id=plant.id) }}"  class="btn danger">Sil</a>
  </div>
</div>
{% endblock %}
